/* .divMain{
    width: 1440px;
    margin: 0 auto;
    background-color: white;
}
.header{
width:max-content;
height: 80px;
}
.components{
  position: relative;
  
}
.component{
    padding: 16px;
    
    width: 386px;
    height: 444px;
    background-color: aqua;
}

.picture{

}
.title{
    font-size: 29px;
}

.price{
    font-size: 29px;
} */
